
figure_1zoom.png

.idea/workspace.xml

log.txt

.idea/workspace.xml

.idea/workspace.xml

saved__gyro.txt

saved_accel.txt

saved__mag.txt

saved_gyro.txt

saved_gps.txt

saved_lin_accel.txt

saved_mag.txt

Garmin_TestSail_1.gpx

*.iml

*.iml

.idea/misc.xml

.idea/workspace.xml
