
figure_1zoom.png

.idea/workspace.xml

log.txt

.idea/workspace.xml

.idea/workspace.xml

saved__gyro.txt

saved_accel.txt

saved__mag.txt

saved_gyro.txt

saved_gps.txt

saved_lin_accel.txt

saved_mag.txt

Garmin_TestSail_1.gpx

*.iml

*.iml

.idea/misc.xml

.idea/workspace.xml

.idea/GDP_DAQ.iml

.idea/GDP_DAQ.iml

.idea/misc.xml

.idea/workspace.xml

.idea/GDP_DAQ.iml

.idea/GDP_DAQ.iml

.idea/misc.xml

.idea/GDP_DAQ.iml

.idea/misc.xml
.idea/workspace.xml
__pycache__/boatHeadingTools.cpython-35.pyc
__pycache__/sensor_log_ToolBox.cpython-35.pyc
__pycache__/windDataTools.cpython-35.pyc
polarPlotTools.py.orig
polarPlotTools_BACKUP_40743.py
polarPlotTools_BASE_40743.py
polarPlotTools_LOCAL_40743.py
